*{margin: 0; padding: 0; box-sizing: border-box;
overflow-x: hidden; 
font-family: 'Josefin Sans', sans-serif;}
.carousel-inner img {
    width: 100%;
    height: 130vh;
  }
  .aboutimg{
  	width: 100%;
  	height: 250px!important;
  }
 .abc{
  width:100%;
  height: 250px!important;
 }
 .footer_style
 {
 
  background: #2c2c54;
  color: white;
  padding-top:20px;
     position:absolute;
     left: 0;
     right: 0;


     
 }


      .footer_style_2
 {
 
  background: white;
  color: white;
  padding-top:8px;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     
 }
  .header_style
 {
 
 
  
  padding:0;
     position: absolute;
   
     top: 0;
  height: 100px;
     
 }
 .anchor_dec{
text-decoration:none;
color: white;
 }

 .bgimg{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(27deg, black 50%, white 50%);
 }
